@font-face {
  font-family: 'regular';
  src: url('./assets/fonts/Pretendard-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'medium';
  src: url('./assets/fonts/Pretendard-Medium.ttf') format('truetype');
}

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: #fff;
}
::-webkit-scrollbar {
  display: none;
}

div {
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
}
button {
  margin: 0;
  padding: 4px;
  box-sizing: border-box;

  background-color: transparent;
  border: none;

  cursor: pointer;
}
img {
  margin: 0;
  padding: 0;

  display: block;
  object-fit: contain;
  overflow: hidden;
}